<div>
    <div class="coupon_label">
        <div class="label_part black_font">
            <span>未使用</span><span>(6)</span>
        </div>

        <div class="label_part red_font">
            <span>使用记录</span><span>(4)</span>

            <div class="border_red"></div>
        </div>

        <div class="label_part black_font">
            <span>已过期</span><span>(40)</span>
        </div>
    </div>

    <div class="top_label_pich"></div>
</div>