


<div class="all_coupon">
    <div class="all_coupon_tabs">

        <!-- 未使用-->
        <div class="no_used" style="position: relative;">

            <div id="preferentialTransfer">转赠优惠券</div>

            <div class="coupon_content">

                <label class="couponcheck">

                <div class="coupon_box">
                    <input class="aui-radio singlecheck" type="checkbox" name="radio">
                </div>

                <a class="coupon_plate blue donation" href="#">

                    <div class="plate_left">
                        <div class="right_plate">
                            <span>¥</span><span>200.00</span>

                            <p>立减券</p>
                        </div>
                    </div>

                    <div class="plate_right">
                        <div class="voucher_label">购物抵用券</div>

                        <div class="all_shopping">
                            <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                            <button>立即使用</button>
                        </div>

                        <div class="time_plate">
                            <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                        </div>
                    </div>

                    <div class="gift_tips">可赠送</div>
                </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate orange donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <div class="voucher_label">购物抵用券</div>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <div class="gift_tips">可赠送</div>
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate orange donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <div class="voucher_label">购物抵用券</div>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <div class="gift_tips">可赠送</div>
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate orange donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <div class="voucher_label">购物抵用券</div>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <div class="gift_tips">可赠送</div>
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate orange donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <div class="voucher_label">购物抵用券</div>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <div class="gift_tips">可赠送</div>
                    </a>

                </label>

            </div>

            <div class="coupon_content">

                <label class="couponcheck">

                    <div class="coupon_box">
                        <input class="aui-radio singlecheck" type="checkbox" name="radio">
                    </div>

                    <a class="coupon_plate blue donation" href="#">

                        <div class="plate_left">
                            <div class="right_plate">
                                <span>¥</span><span>200.00</span>

                                <p>立减券</p>
                            </div>
                        </div>

                        <div class="plate_right">
                            <div class="voucher_label">购物抵用券</div>

                            <div class="all_shopping">
                                <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                                <button>立即使用</button>
                            </div>

                            <div class="time_plate">
                                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                            </div>
                        </div>

                        <div class="gift_tips">可赠送</div>
                    </a>

                </label>

            </div>







        </div>

        <!-- 已使用-->
        <div class="used">

            <a class="coupon_plate used" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>208.88</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
            <a class="coupon_plate used_gift" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>200.00</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
            <a class="coupon_plate used_gift" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
            <a class="coupon_plate used_gift" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
            <a class="coupon_plate used" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>

                </div>
            </a>

        </div>

        <!-- 已过期-->
        <div class="dated">

            <a class="coupon_plate dated" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
            <a class="coupon_plate dated" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
            <a class="coupon_plate dated" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
            <a class="coupon_plate dated" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
            <a class="coupon_plate dated" href="#">
                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>

        </div>


    </div>

    <!-- 全选-->
    <div class="coupon_bottom_tab">
        <!--<div class="tab_bar"></div>-->
        <div class="tab_content">
            <label>
                <input class="aui-radio checkallbox" type="checkbox" name="radio">
                <span>全选</span>
            </label>

            <div class="delete_btn">删除</div>

        </div>
    </div>

</div>




