<div>
    <div class="coupon_label">
        <div class="label_part show">
            <span>未使用</span><span>(6)</span>
        </div>

        <div class="label_part">
            <span>使用记录</span><span>(4)</span>
        </div>

        <div class="label_part">
            <span>已过期</span><span>(40)</span>
        </div>
    </div>

    <div class="top_label_pich"></div>

</div>

<script>
    couponTabChange.moveTab();//点击tab键，实现页面切换
</script>