
    <div class="coupon_plate dated">
        <div class="plate_left">
            <div class="right_plate">
                <span>￥</span><span>20</span>
                <p>立减券</p>
            </div>
        </div>

        <div class="plate_right">
            <div class="voucher_label">购物抵用券</div>

            <div class="all_shopping">
                <p>限于平台【京东】商城所有品类购物抵现</p>
            </div>

            <div class="time_plate">
                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
            </div>
        </div>
    </div>
    <div class="coupon_plate dated">
        <div class="plate_left">
            <div class="right_plate">
                <span>￥</span><span>20</span>
                <p>立减券</p>
            </div>
        </div>

        <div class="plate_right">
            <div class="voucher_label">购物抵用券</div>

            <div class="all_shopping">
                <p>限于平台【京东】商城所有品类购物抵现</p>
            </div>

            <div class="time_plate">
                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
            </div>
        </div>
    </div>
    <div class="coupon_plate dated">
        <div class="plate_left">
            <div class="right_plate">
                <span>￥</span><span>20</span>
                <p>立减券</p>
            </div>
        </div>

        <div class="plate_right">
            <div class="voucher_label">购物抵用券</div>

            <div class="all_shopping">
                <p>限于平台【京东】商城所有品类购物抵现</p>
            </div>

            <div class="time_plate">
                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
            </div>
        </div>
    </div>
    <div class="coupon_plate dated">
        <div class="plate_left">
            <div class="right_plate">
                <span>￥</span><span>20</span>
                <p>立减券</p>
            </div>
        </div>

        <div class="plate_right">
            <div class="voucher_label">购物抵用券</div>

            <div class="all_shopping">
                <p>限于平台【京东】商城所有品类购物抵现</p>
            </div>

            <div class="time_plate">
                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
            </div>
        </div>
    </div>
    <div class="coupon_plate dated">
        <div class="plate_left">
            <div class="right_plate">
                <span>￥</span><span>20</span>
                <p>立减券</p>
            </div>
        </div>

        <div class="plate_right">
            <div class="voucher_label">购物抵用券</div>

            <div class="all_shopping">
                <p>限于平台【京东】商城所有品类购物抵现</p>
            </div>

            <div class="time_plate">
                <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
            </div>
        </div>
    </div>
