

<div class="all_coupon">
    <div class="all_coupon_tabs">

        <div class="no_used">
            <a class="coupon_plate blue" href="#">

                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>20</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现限于平台【京东】商城所有品类购物抵现</p>

                        <button>立即使用</button>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>

            <a class="coupon_plate orange" href="#">


                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>50</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>

                        <button >立即使用</button>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>

            <a class="coupon_plate orange" href="#">


                <div class="plate_left ">
                    <div class="right_plate">
                        <span>¥</span><span>50</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label ">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>

                        <button>立即使用</button>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>

            <a class="coupon_plate orange" href="#">

                <div class="plate_left">
                    <div class="right_plate">
                        <span>¥</span><span>50</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label ">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>

                        <button>立即使用</button>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>

            <a class="coupon_plate orange" href="#">

                <div class="plate_left ">
                    <div class="right_plate">
                        <span>¥</span><span>50</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>

                        <button>立即使用</button>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>

            <a class="coupon_plate orange" href="#">


                <div class="plate_left ">
                    <div class="right_plate">
                        <span>¥</span><span>50</span>
                        <p>立减券</p>
                    </div>
                </div>

                <div class="plate_right">
                    <div class="voucher_label ">购物抵用券</div>

                    <div class="all_shopping">
                        <p>限于平台【京东】商城所有品类购物抵现</p>

                        <button>立即使用</button>
                    </div>

                    <div class="time_plate">
                        <p>使用期限：<span>2017.01.12-2017.02.12</span></p>
                    </div>
                </div>
            </a>
        </div>

        <div class="used">

            <div class="center_content">
                <img src="../images/no_coupon.png">

                <p>没有使用记录</p>
            </div>

        </div>

        <div class="dated">

            <div class="center_content">
                <img src="../images/no_coupon.png">

                <p>没有已过期优惠券</p>
            </div>

        </div>
    </div>
</div>
