
<!--------提示语-------->
<div>
    <div class="coupon_tips">
        <span><img src="../images/warning.png"></span>
        <span>获取使用：1、【福利集市】中福利余额转成相机即可获得等值京东购物立减券；2、在【京东】商城中购物结算时，选券抵现。</span>
    </div>
    <div class="top_label_pich"></div>

</div>
