<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>选择接收账户</title>
</head>
<body>


<!--历史转账记录-->

<%- include('../component/coupon/give_rule_coupon/give_coupon_history.ejs')%>


</body>
</html>