<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>优惠券赠送规则</title>
</head>
<body>


<!--优惠券规则-->

<%- include('../component/coupon/give_rule_coupon/rule_details.ejs')%>


</body>
</html>