<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>赠送给朋友</title>
</head>
<body>

<!--顶部导航-->

<%- include('../component/basic/topNav.ejs',{
"thisrighthref":"jfSwitch.goBack()",
"navtitle":"赠送给朋友",
"thislefthref":"#",
"thisimgsrc":" "
})%>

<!--赠送给朋友-->

<%- include('../component/coupon/give_rule_coupon/give_friend_no.ejs')%>


</body>
</html>