<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的优惠券</title>
</head>
<body>

    <!--顶部导航-->

    <%- include('../component/basic/topNav.ejs',{
    "thisrighthref":"jfSwitch.goBack()",
    "navtitle":"我的优惠券",
    "thislefthref":"#",
    "thisimgsrc":" "
    })%>

    <!--顶部菜单栏-->

    <%- include('../component/coupon/my_coupon/coupon_label.ejs')%>

    <%- include('../component/coupon/my_coupon/notice.ejs')%>

    <!--优惠券-->
    <%- include('../component/coupon/my_coupon/blue_coupon.ejs')%>

</body>
</html>