<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的优惠券</title>
</head>
<body>

<!--顶部菜单栏-->

   <%- include('../component/coupon/my_coupon/coupon_label.ejs')%>

<%- include('../component/coupon/my_coupon/notice.ejs')%>



    <%- include('../component/coupon/my_coupon/no_coupon.ejs')%>

</body>
</html>