

<div class="zfb_direct_recharge">
    <div class="welfare_list box_shadow">
        <!--收款人账号-->
        <label class="weui_cell zfb_cell">
            <div class="weui_cell_hd"><label class="weui_label">对方账号</label></div>
            <div class="weui_cell_bd">
                <input class="weui_input" type="text" placeholder="请输入手机号/邮箱" id="account_input">
            </div>
            <a class="coupon_people" href="give_friend_history.html">
                <img src="../../../images/payee%20in_wage-transfer.png"/>
            </a>

        </label>
        <!--收款人姓名-->
        <label class="weui_cell zfb_cell">
            <div class="weui_cell_hd"><label class="weui_label">对方姓名</label></div>
            <div class="weui_cell_bd">
                <input class="weui_input" type="text" placeholder="请输入姓名">
            </div>
            <div class="error_text2"></div>
        </label>
    </div>

    <div class="coupon_hint">优惠券将实时转入对方账户，无法撤销</div>

    <!--下一步-->
    <div class="give_coupon_but_no">

        <a class="coupon_but_no" >确认赠送</a>

    </div>
</div>

<script>

    /*弹框*/
    document.getElementsByClassName('give_coupon_but_no')[0].addEventListener('click',function(){

        jfShowTips.dialogShow({
            "mainText": "赠送朋友",
            "minText": "账户不存在",
            "noCheck": false,
            "noCancel": true,
            "checkBtnText":"确定",
            "checkFn": function () {
                jfShowTips.dialogRemove()

            }
        });

    },false)


</script>



