<!-- 列表-->


<div class="cash_transfer_account_history_1">


        <div class="history_list_name"><img src="../images/icon_welfare.png">

            历史转赠记录

        </div>
</div>

<!-- list-->

<a class="history_list_background" href="give_friend.html">

    <div class="history_list_background_text">

          <div class="history_list_background_text_message">

              张三

          </div>

          <div class="history_list_background_text_message_1">

              <div>15122662356</div>
              <div>hudaiziying@tao-lue.com</div>

          </div>

    </div>

          <div class="history_list_background_text_message_2">

                  <img src="../images/icon_history_right.png">

          </div>
</a>

<!-- list-->

<a class="history_list_background" href="give_friend.html">

    <div class="history_list_background_text">

        <div class="history_list_background_text_message">

            小明

        </div>

        <div class="history_list_background_text_message_1">

            <div>13600682388</div>
            <div>huangweixiao@tao-lue.com</div>

        </div>

    </div>

    <div class="history_list_background_text_message_2">

        <img src="../images/icon_history_right.png">

    </div>
</a>

<!-- list-->

<a class="history_list_background" href="give_friend.html">

    <div class="history_list_background_text">

        <div class="history_list_background_text_message">

            小李

        </div>

        <div class="history_list_background_text_message_1">

            <div>13600682388</div>
            <div>huangweixiao@tao-lue.com</div>

        </div>

    </div>

    <div class="history_list_background_text_message_2">

        <img src="../images/icon_history_right.png">

    </div>
</a>

<!-- list-->

<a class="history_list_background" href="give_friend.html">

    <div class="history_list_background_text">

        <div class="history_list_background_text_message">

            小张

        </div>

        <div class="history_list_background_text_message_1">

            <div>18933652699</div>
            <div>dingke@tao-lue.com</div>

        </div>

    </div>

    <div class="history_list_background_text_message_2">

        <img src="../images/icon_history_right.png">

    </div>



</a>

<!-- list-->

<a class="history_list_background" href="give_friend.html">

    <div class="history_list_background_text">

        <div class="history_list_background_text_message">

            小张

        </div>

        <div class="history_list_background_text_message_1">

            <div>18933652699</div>
            <div>dingke@tao-lue.com</div>

        </div>

    </div>

    <div class="history_list_background_text_message_2">

        <img src="../images/icon_history_right.png">

    </div>

</a>

</body>

</html>