<!--优惠券赠送规则-->
<div class="give_rule_title">优惠券赠送功能</div>
<div class="rule_section">
    <div class="rule_coupon_title">优惠券如何转赠给好友？</div>
    <div class="rule_coupon_text">
        1.用户账户中优惠券当被标记为可赠送时，此优惠券可通过嘉福平台账户邮箱或手机号转赠。
        2. 当您确认这张优惠券要被转赠给您的好友时，这张优惠券会置于已转赠状态，已转赠的优惠券不可被您使用，以转赠的优惠券在不可用列表展示。
    </div>
</div>

<div class="rule_section">
    <div class="rule_coupon_title">有哪些人可以参与转赠优惠券？</div>
    <div class="rule_coupon_text">
        目前此功能仅限嘉福平台用户可以参与。
    </div>
</div>

<div class="rule_section">
    <div class="rule_coupon_title">所有优惠券都可以转赠吗？</div>
    <div class="rule_coupon_text">
        以我的优惠券券面展示标记为准。
    </div>
</div>
