<div>
    <div class="coupon_label">
        <div class="label_part black_font">
            <span>未使用</span><span>(6)</span>
        </div>

        <div class="label_part black_font">
            <span>使用记录</span><span>(4)</span>
        </div>

        <div class="label_part red_font">
            <span>已过期</span><span>(40)</span>

            <div class="border_red"></div>
        </div>
    </div>

    <div class="top_label_pich"></div>

    <!--------提示语-------->
    <div class="coupon_tips">
        <span><img src="../../images/coupon/warning.png"></span>
        <span>获取使用：1 、【福利集市】中福利余额转成相机即可获得等值京东购物立减券2、在【京东】商城中购物结算时，选券抵现。</span>
    </div>
</div>